/* Container style here */
.container__explore {
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

/* Sidebar style here  */

.explore__sidebar {
    position: fixed;
    background-color: var(--background-color);
    z-index: 8;
    top: 5rem;
    padding-top: .5rem;
    padding-left: 1rem;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar__link {
    border-radius: 20px;
    background: var(--text-sec);
    padding: .5rem 1rem;
    justify-content: flex-start;
}

.sidebar__link>* {
    margin: 0 8px;
}

/* Videos listing  section style here  */
.explore__video {
    margin-left: 220px;
    flex-grow: 1;
}

.video__cat {
    position: sticky;
    background-color: var(--background-color);
    z-index: 8;
    top: 5rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid var(--text-sec);
    border-bottom: 2px solid var(--text-sec);
}

.video__cat .video__cat-btn {
    outline: none;
    font-weight: 500;
    background-color: var(--text-sec);
}

.video__cat .video__cat-btn:hover {
    background-color: var(--primary-color);
}

.video__list {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}