@import url("https://sudo-ui.netlify.app/components/components.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
	--primary-color: #d44d5c;
	--color-pri: #d44d5c;
	--secondary-color: #773344;
	--text-pri: #773344;
	--background-color: #0b0014;
	--background-secondary-color: #355065;
	--text-color: #f5e9e2;
	--error-color: red;
	--background-color-transparent: #ffffff0f;
	--color-transparent-secondary: #262c36c2;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

/* Scrollbar style here */
body::-webkit-scrollbar,
.nav .result__sec-item::-webkit-scrollbar {
	width: 4px;
	background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb,
.nav .result__sec-item::-webkit-scrollbar-thumb {
	background-color: var(--color-pri);
}

Link {
	cursor: pointer;
}

/* React icons style */
.icons {
	color: var(--color-pri);
}

/* Main app style here */
#main__app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.app__header {
	width: 100%;
	height: 5rem;
	position: fixed;
	z-index: 9;
	background-color: var(--background-color);
	top: 0;
}

.app__content {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
	flex-grow: 1;
}

/*! Common style overriding here */

.btns {
	padding: 0.5rem 0.8rem;
	border-radius: 5px;
}

.image__res {
	min-height: 100%;
}

/*! Header style here  */

.nav .nav__title-sec {
	margin-right: initial;
}

.nav__title-sec .logo {
	width: 2rem;
	margin-right: 5px;
}

.nav .nav__search-sec form {
	border: 2px solid var(--primary-color);
	border-radius: 5px;
}

.nav .nav__search-sec input {
	color: var(--text-color);
	padding: 0.5rem 0;
}

/* Search result section */
.nav .nav__result-sec {
	position: fixed;
	background-color: var(--color-transparent-secondary);
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 5rem;
	left: 0;
	right: 0;
	bottom: 0;
	gap: 0.25rem;
	box-shadow: 0 0 100px 5px var(--background-color);
	padding: 1rem 0.5rem;
	z-index: 99;
	border-radius: 5px;
}

/* searched items section */
.nav .result__sec-item {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 0.5rem;
	background-color: var(--background-color);
	min-width: 60%;
	padding: 1rem;
	border-radius: 5px;
	overflow: auto;
	max-height: 90%;
}

.nav .nav__button-sec {
	margin-right: 1rem;
}

/* User avatar icon style */
.user__avatar-icon {
	border-radius: 50%;
	padding: 1px;
	color: var(--background-color);
	background-color: var(--color-pri);
	border: 1px solid var(--color-pri);
	font-size: 2rem;
}

.nav__menu-icon {
	display: none;
	font-size: 2.25rem;
	color: var(--color-pri);
}
